.wrapper{

    width: 100%;
    background-image: url('../img/background-parts.jpg');
    background-size:contain;

}

.table-wrapper{
    width: 100%;
    height: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 690px){

    .tittle h1{

        font-size: 1.6em;

    }
    .table-wrapper{

        font-size: 0.7em;

    }

}

@media screen and (max-width: 510px){

    .tittle h1{

        font-size: 1.3em;

    }
    .table-wrapper{

        font-size: 0.6em;

    }

}

@media screen and (max-width: 450px){

    .tittle h1{

        font-size: 1.1em;

    }
    .table-wrapper{

        font-size: 0.4em;

    }

}